<div class="containter, Apage">
    <div class="row">
        <div class="col-md-12">
            <h1 id="Atitle">Welcome to Athena</h1>
            <h2 id="Adis">A place to share your creative side</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br /><br />
            <img id="pen" src="https://nothingintherulebook.files.wordpress.com/2015/09/stipula_fountain_pen.jpg" alt="..." height="300" width="100">
            <p class="Aparagraph">
                Athena is a place to come to and share your creative writing. To get started simply create an account and publish your masterpiece. On your profile page you can see how many people are reading the stories or articles that you have published.  When you’re not working on your own material there are many authors who have shared their works. You can find amazing stories and articles to keep you entertained for hours.  It’s easy to find the latest and best works or simple search by genre to find the best story or article for you. So come and share your story today.
            </p>
        </div>
       
        <div class="col-md-6">
            <h1 class="Atitle"> Contact Us</h1>
            <form id="contact_form" action="mailto:info@athena.com" method="GET" enctype="multipart/form-data" target="_blank">
                <div class="row">
                    <label for="name">Your name:</label><br />
                    <input id="name" class="input" name="subject" type="text" value="" size="30" /><br />
                </div>
                <div class="row">
                    <label for="email">Your email:</label><br />
                    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
                </div>
                <div class="row">
                    <label for="message">Your message:</label><br />
                    <textarea id="message" class="input" name="body" rows="7" cols="30"></textarea><br />
                </div><br />
                
                <input type="submit" class="btn btn-success" value="Send" />
            </form>
        </div>
    </div>
</div>




    



