<div class="container-fluid" id="RMdesign">
    <!--<h2 class="modal-title text-center">Viewing {{controller.work.title}}</h2>-->

    <!--<div class="modal-body text-center">
        <textarea cols="70" rows="10" ng-model="controller.review.content"></textarea><br /><br />
        <button type="button" class="btn btn-success" ng-click="controller.saveReview()">Save Changes</button>        
    </div>-->
    <a href="{{controller.workViewerURL}}"></a>
    <!--<div type="filepicker-preview" data-fp-url="{{controller.workViewerURL}}" style="width:75%; height:500px" data-fp-custom-css="https://www.filestackapi.com/api/file/nOEVTFWT3KrXCKNCNEg7">
        <button type="button" class="btn btn-success" ng-click="controller.closeModal()">Cancel</button>
    </div>-->
</div>

